body {
  font-family: 'Inter', sans-serif;
  background-color: #1D1736;
  color: #E0E0E0;
  min-height: 100vh;
  margin: 0;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 200vh;
}

main {
  flex: 1;
}

a {
  color: inherit;
  text-decoration: none;
}

select[multiple] {
    width: 300px;
    height: 150px;
    display: block;
}

button {
  background-color: #1A1736;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: background 0.2s;
}

button:hover {
  background: #242042;
}

.card {
  background-color: #141225;
  border-radius: 20px;
  padding: 1rem;
  transition: transform 0.2s;
  width: 220px;
  box-sizing: border-box;
}

.card:hover {
  transform: translateY(-10px);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, 220px);
  margin-top: 4rem;
  gap: 1rem;
  justify-content: center;
}

.grid-text {
  color: inherit;
  text-decoration: none;
  justify-self  : center;
}

header {
  padding: 1rem 2rem;
  background-color: #141225;
}

footer {
  margin-top: auto;
  padding: 0.1rem 2rem;
  background-color: #141225;
}