@model AccountModel

<form asp-action="Register" method="post">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="All" class="text-danger"></div>
    
    <input asp-for="@Model.Name" placeholder="Name"/>
    <span asp-validation-for="Name" class="text-danger"></span>

    <input asp-for="@Model.Email" placeholder="Email"/>
    <span asp-validation-for="Email" class="text-danger"></span>

    <input asp-for="@Model.Password" type="password" placeholder="Password"/>
    <span asp-validation-for="Password" class="text-danger"></span>

    <button type="submit">Register</button>
</form>